$width: 96%;
$gutter: 4%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px

$colors:( 
  primary: #FF1E42,
  secondary: #CCD1D1,
  black: #003943,
  success: #00AC8B,
  alert: #F1B321
  );
